extends layout 

block content 
    h1= title 
    form(style="display: flex; flex-direction: column" method="post") 
        label Name: 
            input(type="text" name="name" value=(category === undefined ? "" : category.name) required)
        label Description: 
            textarea(name="description" required)
                | #{category === undefined ? "" : category.description}
        div 
            button(type="submit") Create 


    if errors 
        ul 
            each error in errors 
                li= error.msg