extends layout 

block content 
    h1= title 
    form(method="post") 
        label.strong Name: 
            input(type="text" name="name" value=(category === undefined ? "" : category.name) required)
        label.strong Description: 
            textarea(name="description" required)
                | #{category === undefined ? "" : category.description}
        div 
            button.strong(class=(title.split(" ")[0].toLowerCase()) type="submit")= title.split(" ")[0].toUpperCase() 


    if errors 
        ul 
            each error in errors 
                li= error.msg